*{
  box-sizing: border-box;
}
.body{
  background-color:#FFFFFF;
  font-family:Proxima Nova, italic;
  font-weight: 600;
}
.block {
  display:flex;
  width: 1366px;
  height: 929px;
  align-items: center;
  justify-content: center;
}
.block_sm {
  display:flex;
  width: 1170px;
  height: 756px;
  flex-direction:column;
}
.block_heading {
  display:flex;
  height: 85px;
  justify-content: center;

}
.block_related {
font-size: 30px;
color:#22262A;
font-family:Proxima Nova, italic;
font-weight: 900;

}

.block_apple{
  display:flex;
  height: 349px;
  justify-content:space-between;
}

.block_zero{
 height: 20px;
}
.block_image{
  display:flex;
  border: 3px solid #F6F7F8;
  width: 270px;
  flex-direction:column;
  align-items: center;
  
}
.block_zero1{
  height: 20px  
}
.block_zero2{
  height: 40px
}
.block_ap_mac{
  font-size: 14px;
  font-style: color#262626;
  height: 14px;
  font-family: Proxima Nova, italic;
  font-weight: 600;
}
.block_zero3{
  height: 30px
}
.price{
  font-size: 16px;
  color:#FF4858;
  font-family:Proxima Nova, italic;
  font-weight: 600;
}
.reduz{
  font-size: 16px;
  color:#C1C8CE;
  text-decoration: line-through;
  font-family:Proxima Nova, italic;
  font-weight: 600;
}

